USE [master]
GO
/****** Object:  Database [PCErrorLogger]    Script Date: 5/16/2014 9:42:39 AM ******/
CREATE DATABASE [PCErrorLogger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCErrorLogger', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PCErrorLogger.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PCErrorLogger_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PCErrorLogger_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCErrorLogger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCErrorLogger]
GO
/****** Object:  Table [dbo].[PCErrorLogger]    Script Date: 5/16/2014 9:42:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCErrorLogger](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDate] [datetime] NULL,
	[ErrorMessage] [nvarchar](200) NULL,
	[ErrorSource] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PCErrorLogger] ON 

INSERT [dbo].[PCErrorLogger] ([ErrorID], [ErrorDate], [ErrorMessage], [ErrorSource]) VALUES (1, CAST(0x0000A32900C4081A AS DateTime), N'Input string was not in a correct format.', N'mscorlib')
INSERT [dbo].[PCErrorLogger] ([ErrorID], [ErrorDate], [ErrorMessage], [ErrorSource]) VALUES (2, CAST(0x0000A32900CE28E5 AS DateTime), N'Input string was not in a correct format.', N'mscorlib')
INSERT [dbo].[PCErrorLogger] ([ErrorID], [ErrorDate], [ErrorMessage], [ErrorSource]) VALUES (3, CAST(0x0000A32900D180C1 AS DateTime), N'Input string was not in a correct format.', N'mscorlib')
SET IDENTITY_INSERT [dbo].[PCErrorLogger] OFF
USE [master]
GO
